<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Designer</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="./vue.global.js"></script>
    <script src="./cssProps.js"></script>
    <script src="./index.js" defer></script>
</head>
<body v-cloak>
    <div id="header">
        <h1>CSS Designer</h1>
    </div>

    <div id="buttons">
        <button @click="modal = 'Import'" :disabled="selectedElementInfo">New HTML File</button>
        <button @click="modal = 'Export'" :disabled="selectedElementInfo">Export</button>
        <button @click="startSelectMode" :disabled="selectedElementInfo">Select Element</button>
    </div>

    <div id="page">
        <iframe id="iframe"></iframe>
    </div>

    <div id="modal" v-if="modal">
        <div id="modalBlur">
            <div id="XSSModal" v-if="modal == 'XSSWarning'">
                <p>Warning: Script tags have been removed to prevent XSS (Cross-Site Scripting)</p>
                <button @click="modal = ''">Okay</button>
            </div>
            <div id="ExportModal" v-if="modal == 'Export'">
                <p>Export your HTML file</p>
                <span>
                    <button @click="exportHTML('copy'); modal = ''">Copy HTML</button>
                    <div style="display:inline-block; width: 10px; height: 2px; border: none;"></div>
                    <button @click="exportHTML('download'); modal = ''">Download</button>
                </span>
                <br>
                <br>
                <button @click="modal = ''">Cancel</button>
            </div>
            <div id="ImportModal" v-if="modal == 'Import'">
                <p>Import your HTML file</p>
                <span>
                    <button @click="importHTML('paste')">Paste HTML</button>
                    <div style="display:inline-block; width: 10px; height: 2px; border: none;"></div>
                    <button @click="importHTML('upload')">Upload</button>
                </span>
                <br>
                <br>
                <button @click="modal = ''">Cancel</button>
            </div>
        </div>
    </div>

    <div id="element-panel" v-if="selectedElementInfo">
        <div id="element-info">
            <strong>Selected Element:</strong>
            <p>Tag: {{ selectedElementInfo.tag }}</p>
            <p>
                <span v-if="selectedElementInfo.id">ID: {{ selectedElementInfo.id }}</span>
                <span v-if="selectedElementInfo.id && selectedElementInfo.class">&nbsp;|&nbsp;</span>
                <span v-if="selectedElementInfo.class">Class: {{ selectedElementInfo.class }}</span>
            </p>
        </div>
        <div id="css-editor">
            <p><strong>Style Editor:</strong></p>
            <form id="cssForm" @input="applyLiveCSS">
                <div class="css-list">
                    <template v-for="(prop, key) in cssConfig">
                        <template v-if="!prop.unlocked || (prop.unlocked && prop.unlocked.position && prop.unlocked.position.includes(cssProps.position.value))">
                               <div class="css-list-item"
                                   :class="{ unlocked: prop.unlocked && prop.unlocked.position && prop.unlocked.position.includes(cssProps.position.value) }">
                                <label v-if="prop.type === 'color'">
                                    {{ key }}: <input type="color" v-model="cssProps[key].value">
                                </label>
                                <label v-else-if="prop.type === 'px'">
                                    {{ key }}: <input type="number" v-model="cssProps[key].value"> px
                                </label>
                                <label v-else-if="prop.type === 'dropdown'">
                                    {{ key }}:
                                    <select v-model="cssProps[key].value">
                                        <option v-for="opt in prop.options" :value="opt">{{ opt || 'Default' }}</option>
                                    </select>
                                </label>
                            </div>
                        </template>
                    </template>
                </div>
            </form>
        </div>
        <button id="closePanel" @click="closeStyleEditor">Close</button>
    </div>
</body>
</html>